<% layout("/layouts/boilerplate")%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h1>Edit your list:-</h1>
                <form method="post" action="/listings/<%=iddata.id%>?_method=patch" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>&nbsp;&nbsp;&nbsp;
                        <input type="text" class="form-control" name="list[title]" value="<%=iddata.title%>" id="title"
                            required>
                        <div class="valid-feedback">Title looks good!</div>
                        <div class="invalid-feedback">Enter a catchy title.</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>&nbsp;&nbsp;&nbsp;<br>
                        <textarea name="list[description]" class="form-control" id="description"
                            required><%=iddata.description%></textarea>
                        <div class="invalid-feedback">Enter a short description.</div>
                    </div>
                    <div class="mb-3">
                        <p>original Image</p>
                        <img src="<%=originalImg%>">
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image:</label>&nbsp;&nbsp;&nbsp;
                        <input type="file" class="form-control" name="list[image]" id="image">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price:</label>&nbsp;&nbsp;&nbsp;
                            <input type="text" class="form-control" name="list[price]" value="<%=iddata.price%>"
                                id="price" required>
                            <div class="invalid-feedback">Enter a valid price.</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country:</label>&nbsp;&nbsp;&nbsp;
                            <input type="text" class="form-control" name="list[country]" value="<%=iddata.country%>"
                                id="country" required>
                            <div class="invalid-feedback">Enter a valid country.</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>&nbsp;&nbsp;&nbsp;
                        <input type="text" class="form-control" name="list[location]" value="<%=iddata.location%>"
                            id="location" required>
                        <div class="invalid-feedback">Enter a valid location.</div>
                    </div>


                    <button class="btn btn-dark mb-3"">Save</button>
    </form>
</div>
</div>
</body>