<% layout("/layouts/boilerplate")%>
    <style>
    #Category{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    #switch{
      font-size: 1.2vw;
      border: 1px solid grey;
      padding: 1vw;
      border-radius:1vw;
      border-color: rgba(0, 0, 0, .2);
      margin-right: 1vw;
    }
    #filters{
      display: flex;
      flex-wrap:wrap;
    }
    .filter{
      margin-top: 1vw;
      margin-left: 1.7vw;
      text-align: center;
      font-size: 1.2vw;
      opacity: 0.7;
    }
    .filter p{
      font-size: 1vw;
    }
    .filter:hover{
      opacity:1;
      cursor: pointer;
    }
    .tax-info{
        display: none;
    }
  </style>
    <body>
        <div id="Category">
            <div id="filters">
              <div class="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
              </div>
              <div class="filter">
                <div><i class="fa-solid fa-ship"></i></div>
                <p>Boats</p>
              </div>
              <div class="filter">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
              </div>
              <div class="filter">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Mountain</p>
              </div>
              <div class="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Pools</p>
              </div>
              <div class="filter">
                <div><i class="fa-solid fa-tractor"></i></div>
                <p>Farms</p>
              </div>
              <div class="filter">
                <div><i class="fa-solid fa-play"></i></div>
                <p>Play</p>
              </div>
              <div class="filter">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Artic</p>
              </div>
              <div class="filter">
                <div><i class="fa-solid fa-igloo"></i></div>
                <p>Domes</p>
              </div>
              <div class="filter">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Artic</p>
              </div>
              <div class="filter">
                <div><i class="fa-solid fa-person-skiing"></i></div>
                <p>Skiing</p>
              </div>
              <div class="filter">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Barns</p>
              </div>
              <div class="filter">
                <div><i class="fa-solid fa-water"></i></div>
                <p>Surfing</p>
              </div>
            </div>
              <div id="switch">
              <div id="tax-toggle">
                <div class="form-check-reverse form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Display total after tax</label>
                </div>
              </div>
            </div>
          </div>
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-2 index">
            <% for(list of data){ %>
                <a href="/listings/<%=list._id%>">
                    <div class="card col mb-3">
                        <img src="<%=list.image.url%>" class="card-img-top" alt="image" style="height: 18rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <%=list.title%>
                            </p>
                            <p class="card-text">&#8377;<%=list.price.toLocaleString("en-IN")%>/night <i class="tax-info">&nbsp; +18%GST</i></p>
                            
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
        </div>
        <!-- <% for(list of data){ %>
        <ul>
            <li><a href="/listings/<%=list.id%>"><%=list.title%></a></li>
        </ul>    
    <% } %> -->
    <script>
        let taxSwitch=document.getElementById("tax-toggle");
        console.dir(taxSwitch);
        taxSwitch.addEventListener("click",()=>{
          taxInfo=document.querySelectorAll(".tax-info");
          for(info of taxInfo){
            if(info.style.display!="inline"){
            info.style.display="inline";
            }else{
            info.style.display="none";
            }
          }
        })
      </script>
    </body>